<div class="todos">
	<form (submit)="addTodo()">
		<input 
			type="text"
			name="inputTodo"
			placeholder="Add new reminder..."
			class="todo-input"
			[(ngModel)]="inputTodo"
		/>
		<br>
		<input type="submit" value="Add" class="todo-submit" />
		<br>
	</form>
	<div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
		<div class="id">{{ i }}</div>
		<div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
		<button class="delete" (click)="deleteTodo(i)">Delete</button>
	</div>
</div>
